.swal-button--confirm{
    background-color: #83305a;
}

.swal-footer,
.swal-text{
	text-align: center;
}

hr{
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 10px 0 20px;
}

.gridspan::after{
    content: "";
    display: table;
    clear: both;
}

.quiz-detail__header{
    transform: translate(-15px,-15px);
    width: calc(100% + 30px);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.quiz-detail__header .top-section{
    background-color: #ffffff;
    padding: 40px 15px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.quiz-detail__header .top-section .topic-name{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.quiz-detail__header .bottom-section{
    background-color: #efefef;
    padding: 15px;
    background-color: #f9f9f9;
}

.quiz-detail__header .add-content-button{
    border: none;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    background: none;
    outline: none;
    background-color: #002347;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.quiz-detail__clickable{
    width: 100%;
    border-radius: 6px;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    display: block;
    margin-top: 20px;
}

.quiz-detail__clickable .quiz-detail__clickable-index{
    font-size: 12px;
    color: #666666;
}

.quiz-detail__clickable .quiz-detail__clickable-name{
    font-size: 14px;
    font-weight: bold;
    color: #282828;
}

.quiz-detail__clickable .fa{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #282828;
}

.answer-header{
    width: 100%;
    border-radius: 6px 6px 0 0;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    display: block;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

.answer-header .answer-header-name{
    font-size: 14px;
    font-weight: bold;
    color: #282828;
}

.answer-header .fa{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #282828;
}

.answer-container{
    padding: 15px;
    background-color: #ffffff;   
    border-radius: 0 0 6px 6px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.answer-list{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.answer-list .header{
    background-color: #cccccc;
    font-weight: bold;
}

.answer-list .student-name{
    width: calc(100% - 280px);
    float: left;
    padding: 10px;
    display: block;
    font-weight: 700;
}

.answer-list .submit-time{
    width: 200px;
    float: left;
    padding: 10px;
}

.answer-list .score{
    width: 80px;
    float: left;
    padding: 10px;
    text-align: center;
}