.banner_area .banner_inner{
    min-height: 260px;
}

.banner_area{
    min-height: 260px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.register-content{
    padding: 50px;
    background-color: #fafafa;
}

.gridspan::after{
    content: "";
    display: table;
    clear: both;
}

.tab-menu{
    margin-bottom: 30px;
}

.tab-menu ul{
    padding: 0;
    margin: 0;
    border: 2px solid #002347;
    border-radius: 4px;
}

.tab-menu ul li{
    padding: 10px 0;
    text-align: center;
    margin: 0;
    display: inline-block;
    width: calc(100% / 3);
    font-weight: 600;
    cursor: pointer;
    float: left;
    color: #002347;
}

.tab-menu ul li.is-active,
.tab-menu ul li:hover{
    background-color: #002347;
    color: #ffffff;
}

.register-box{
    width: 500px;
    height: auto;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.register-box .title{
    text-align: center;
}

.register-box .sub-title{
    margin-top: 20px;
    text-align: center;
    width: 350px;
    margin: 0 auto 50px;
}

input{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 7px 15px;
    font-size: 14px;
}

.submit-button{
    width: 100%;
    padding: 7px 15px;
    background-color: #002347;
    color: #fdc632;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #002347;
    font-weight: 550;
    cursor: pointer;
}

@media only screen and (max-width: 1023px){
    .register-content{
        padding: 15px;
    }

    .tab-menu{
        margin-bottom: 15px;
    }

    .register-box{
        width: 100%;
        padding: 15px;
    }

    .register-box .sub-title{
        width: 100%;
    }
}
