.login{
    padding: 27px 0;
    margin-right: 10px;
}

.login-btn{
    padding: 10px 15px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
    color: #002347;
}


.login-btn:hover{
    background-color: transparent;
    color: #ffffff;
}

.signup{
    padding: 27px 0;
}

.signup-btn{
    padding: 10px 15px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
    margin-right: 10px;
    color: #ffffff;
}


.signup-btn:hover{
    background-color: #ffffff;
    color: #002347;
}

.input-group{
    padding: 27px 0;
    margin-left: 20px;
}

.input-group .submit-btn{
    float: left;
    border: 1px solid #cccccc;
    cursor: pointer;
    background: #fff;
   
}

.input-group .submit-btn:hover {
    border: 1px solid #cccccc;
    background-color: #cccccc;

  }

  .input-group .search-box{
    padding: 5px 20px;
    color: #2e3d49;
    background: #fff;
    border: 1px solid #cccccc;
    font-size: 14px;
    
    display: block;
    
}