.gridspan::after{
    content: "";
    display: table;
    clear: both;
}

.content-header{
    padding: 25px 25px 5px 25px;
}

.content-header>h1{
    font-size: 20px;
    color: #002347;
    
    text-transform: uppercase;
}

hr{
    
    border-bottom: 1px solid #cccccc;
    margin: 10px 0 10px;
}

.content{
    padding-left: 25px;
    padding-top: 0px;
    padding-right: 25px;
}

.content .title{
    font-size: 18px;
    font-weight: 600;
}

/* student dashboard */

.content .student-box{
    width: 100%;
    margin-bottom: 30px;
}

.content .student-box-1{
    width: 30%;
    float: left;
    padding: 10px;
    background-color: #002347;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-right: 20px;
}

.content .student-box-1 .col-left{
    width: 100% ;
    float: left;
    height: 129px;
    padding: 10px;
}

.content .student-box-1 .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .student-box-1 .col-left .label-container .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
    float: left;
}

.content .student-box-1 .col-left .label-container .card-title{
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;

}

.content .student-box-1 .col-left .label-container .card-content{
    font-size: 22px;
    border-bottom: 10px;
    color: #ffffff;
}


.content .student-box-2{
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-right: 10px;
}

.content .student-box-2 .col-left{
    width: 100%;
    float: left;
    height: 129px;
    padding: 30px;
}

.content .student-box-2 .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .student-box-2 .col-left .label-container .card-title{
    font-size: 22px;
    border-bottom: 10px;
}

.content .student-box-2 .col-left .label-container .card-content{
    font-size: 14px;
    border-bottom: 10px;
}


.content .student-box-3{
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(126, 136, 145, 0.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-right: 10px;
}

.content .student-box-3 .col-left{
    width: 100%;
    float: left;
    height: 129px;
    padding: 30px;
}

.content .student-box-3 .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .student-box-3 .col-left .label-container .card-title{
    font-size: 24px;
    border-bottom: 10px;
}

.content .student-box-3 .col-left .label-container .card-content{
    font-size: 11px;
    border-bottom: 10px;
}

.content .student-box-4{
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(126, 136, 145, 0.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-right: 10px;
}

.content .student-box-4 .col-left{
    width: 100%;
    float: left;
    height: 129px;
    padding: 30px;
}

.content .student-box-4 .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .student-box-4 .col-left .label-container .card-title{
    font-size: 24px;
    border-bottom: 10px;
}

.content .student-box-4 .col-left .label-container .card-content{
    font-size: 11px;
    border-bottom: 10px;
}

/* student course list */

.student-course{
    margin-top: 10px;
}

.student-course .student-course-head>h1{
    font-size: 20px;
    color: #002347;
    
    text-transform: uppercase;
}

.student-course .student-course-head {
    margin-bottom: 20px;
}

.content .student-course-list{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}

.content .student-course-list .top-section .dropdown{
    float:right;
    padding-right: 30px;
}

.content .student-course-list .top-section .dropdown .dropdown-toggle .fa .fa-ellipsis-v{
    float:right;
    position: absolute;
    
}

.content .student-course-list .top-section{
    padding: 20px;
    
}

.content .student-course-list .top-section .course-image{
    width: 200px;
    height: 100px;
    object-fit: cover;
    object-position: center;    
    float: left;
    border-radius: 4px;
}

.content .student-course-list .top-section .course-detail{
    width: calc(1005 - 250px);
    float: left;
    padding-left: 20px;

}

.content .student-course-list .top-section .course-detail .course-name{
    font-size: 20px;
    font-weight: 700;
    color: #282828;
    margin: 0 0 5px;
}

.content .student-course-list .top-section .course-detail  .label{
    background-color: #002347;
    border: 1px solid #002347;
    color: #fafafa;
    font-size: 10px;
    padding: 2px;
    border-radius: 4px;
}

.content .student-course-list .top-section .col-left{
    width: 400px;
    float: left;
    position: relative;
    height: 129px;
}
.content .student-course-list .top-section .col-right{
    width: 150px;
    float: right;
    position: relative;
    height: 129px;
}

.content .student-course-list .col-right .proceed-btn .nav-link{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10px;
    background-color: #193859;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;

    
}

.content .student-course-list .bottom-section{
    border-top: 1px solid #cccccc;
    padding: 10px 20px;
}

.content .student-course-list .bottom-section .col-left{
    width: 50%;
    float: left;
    text-align: left;
    padding: 5px 0;
}

.content .student-course-list .bottom-section .col-left .company{
    color: #002347;
    font-weight: 600;
    font-size: 18px;
}

.content .student-course-list .bottom-section .col-right{
    width: 50%;
    float: left;
    
}

.content .student-course-list .bottom-section .col-right .unenroll-btn{
    float: right;
    border: 1px solid #002347;
    background-color: #002347;;
    color: #fdc632;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* company */

.content .course-list{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 20px;
    margin-bottom: 30px;
}

.content .course-list .col-left{
    width: 150px ;
    float: left;
    height: 129px;
}

.content .course-list .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .course-list .col-left .label-container .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
      
    float: left;
}



.content .course-list .col-right{
    width: calc(100% - 150px);
    float: left;
    position: relative;
    height: 129px;
}

.content .course-list .col-right .title{
    padding: 0px 10px 10px 20px;
}

.content .course-list .col-right .desc{
    padding: 5px 10px 20px 20px;
}

.content .card-left{
    width: 45%;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-right: 50px;
}

.content .card-left .col-left{
    width: 150px;
    float: left;
    height: 129px;
    padding: 10px;
}

.content .card-left .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}
.content .card-left .col-left .label-container .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
      
    float: left;
}

.content .card-left .col-left .label-container .card-title{
    font-size: 18px;
    border-bottom: 10px;
}

.content .card-left .col-right{
    width: calc(100% - 150px);
    float: left;
    position: relative;
    height: 129px;
}

.content .card-left .col-right .title{
    padding: 0px 10px 10px 20px;
}

.content .card-left .col-right .desc{
    padding: 5px 10px 20px 20px;
}

.content .card-right{
    width: 45%;
    float: left;
    padding: 10px;
    background-color: #ffffff;
    
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    margin-top: 5px;
    margin-left: 55px;
}

.content .card-right .col-left{
    width: 150px ;
    float: left;
    height: 129px;
    padding: 10px;
}

.content .card-right .col-left .label-container .label{
    background-color: #193859;
    color: #ffffff;
    font-size: 11px;
    padding: 5px;
    border-radius: 4px;
}

.content .card-right .col-left .label-container .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
      
    float: left;
}
.content .card-right .col-left .label-container .card-title{
    font-size: 18px;
    border-bottom: 10px;
}

.content .card-right .col-right{
    width: calc(100% - 150px);
    float: left;
    position: relative;
    height: 129px;
}

.content .card-right .col-right .title{
    padding: 0px 10px 10px 20px;
}

.content .card-right .col-right .desc{
    padding: 5px 10px 20px 20px;
}

