.register-content{
    padding: 50px;
    background-color: #fafafa;
}

.gridspan::after{
    content: "";
    display: table;
    clear: both;
}

.tab-menu{
    margin-bottom: 30px;
}

.tab-menu ul{
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.tab-menu ul li{
    padding: 10px 0;
    text-align: left;
    margin: 0;
    display: inline-block;
    width: calc(60% / 3);
    font-weight: 600;
    cursor: pointer;
    float: left;
    color: #002347;
}

.tab-menu ul li::after{
    border-bottom: solid 3px  #002347;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
   
}

.tab-menu ul li.is-active,
.tab-menu ul li:hover::after{
    
    /*background-color: #002347; */
    transform: scaleX(1);
    border-bottom: solid 3px  #002347;
    color: #002347;
}

.register-box{
    width: 1000px;
    height: auto;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.register-box .title{
    text-align: center;
}

.register-box .sub-title{
    margin-top: 20px;
    text-align: center;
    width: 350px;
    margin: 0 auto 50px;
}

.swal-button--confirm{
	background-color: #83305a;
}

.swal-footer,
.swal-text{
	text-align: center;
}

.title{
    margin: 5px 0 0;
    font-weight: 600;
    float: left;
}

hr{
    border: none;
    border-bottom: 0px solid #cccccc;
    margin: 5px 0 5px;
}

.gridspan::after{
    content: "";
    display: table;
    clear: both;
}
.course-title{
    width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 5px 20px 5px 20px;
    border-bottom: #8e8e8e;

}

.course-content{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px 10px;
}


.course-content .left-section{
    width: 23.33%;
    float: left;
}

.course-content .left-section .course-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

.course-content .middle-section{
    width: 63.33%;
    float: left;
    padding-left: 20px;
}

.course-content .middle-section .course-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px;
}

.course-content .middle-section .course-detail-title{
    font-size: 14px;
    font-weight: bold;
    color: #282828;
}

.course-content .middle-section .course-detail-value{
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.course-content .right-section{
    width: 13.33%;
    float: left;
    padding-left: 20px;
}
.course-content .right-section .course-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px;
}

.course-content .right-section .course-detail-title{
    font-size: 14px;
    font-weight: bold;
    color: #282828;
}

.course-content .right-section .course-detail-value{
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}
.topic-content{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    margin-top: 25px;
}

.topic-content .topic-content-header{
    margin-bottom: 15px;
}

.topic-content .topic-title{
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 3px 0 0;
}

.topic-content .add-topic-button{
    border: none;
    appearance: none;
    text-decoration: none;
    text-transform: none;
    background: none;
    outline: none;
    background-color: #002347;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    float: right;
}



.topic-content .topic-list{
    font-size: 14px;
}

.topic-content .topic-list .header{
    font-weight: bold;
    background-color: #e0e0e0;
}

.topic-content .topic-list .left-section{
    width: calc(100% - 150px);
    float: left;
    padding: 10px;
}

.topic-content .topic-list .left-section .topic-name{
    color: #002347;
}

.topic-content .topic-list .right-section{
    width: 150px;
    float: left;
    padding: 10px;
}

.topic-content .topic-body:hover{
    background-color: #f2f2f2;
}

a .topic-body{
    color: #002347;
}

.topic-content .topic-body .left-section{
    width: calc(100% - 150px);
    float: left;
    padding: 10px;
}

.topic-content .topic-body .left-section .topic-name{
    color: #002347;
}

.topic-content .topic-body .right-section{
    width: 150px;
    float: left;
    padding: 10px 10px 10px 45px;
}

.topic-content .topic-list .right-section .edit-btn{
    float: left;
    border: 1px solid #002347;
    background-color: #002347;;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
 } 

 .topic-content .topic-list .right-section .delete-btn{
    float: left;
    border: 1px solid #002347;
    background-color: #002347;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 4px;
    cursor: pointer;
}



.form-create{
    border: 1px solid #cccccc;
    display: none;
}

.form-create .form-header{
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
    font-size: 22px;
    font-weight: 700;
    background-color: #002347;
}

.form-create .form-body{
    background-color: #ffffff;
    padding: 20px;
}

.form-create .form-body .input-container{
    margin-bottom: 40px;
}

.form-create .form-body .input-container .input-title{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.form-create .form-body .input-container .input-sub-title{
    font-size: 14px;
    font-weight: 600;
    color: #8e8e8e;
    margin: 0 0 10px;
}

.form-create .form-body .input-container .regular-input{
    width: 500px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 15px;
}

.form-create .form-body .input-container .regular-input#startDate,
.form-create .form-body .input-container .regular-input#endDate{
    cursor: pointer;
}

.form-create .form-body .input-container .regular-textarea{
    width: 500px;
    min-height: 150px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 15px;
}

.form-create .form-footer{
    background-color: #e5e5e5;
    padding: 10px 20px;
    text-align: right;
}

.form-create .form-footer .cancel-btn{
    padding: 8px 15px;
    border: 1px solid #002347;
    border-radius: 4px;
    color: #002347;
    margin-right: 10px;
    cursor: pointer;
}

.form-create .form-footer .submit-btn{
    padding: 8px 15px;
    border: 1px solid #002347;
    border-radius: 4px;
    color: #ffffff;
    background-color: #002347;
    cursor: pointer;
}

.modal .modal-dialog{
    border: 1px solid #cccccc;
}


.modal .modal-dialog .modal-content .modal-header .modal-title{
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
    font-size: 22px;
    font-weight: 700;
    background-color: #002347;
}

.modal .modal-dialog .modal-content .modal-body{
    background-color: #ffffff;
    padding: 20px;
    
}

.modal .modal-dialog .modal-content .modal-body .card-body{
    padding: 20px;
    
}

.modal-body .card-body .input-container{
    margin-bottom: 40px;
}

.modal-body .card-body .input-container .input-title{
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.modal-body .card-body .input-container .input-sub-title{
    font-size: 14px;
    font-weight: 600;
    color: #8e8e8e;
    margin: 0 0 10px;
}

.modal-body .card-body .input-container .regular-input{
    width: 500px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 15px;
}

.modal-body .card-body .input-container .regular-textarea{
    width: 500px;
    min-height: 150px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 15px;
}

.modal-body .card-footer{
    background-color: #e5e5e5;
    padding: 10px 20px;
    text-align: right;
}

.modal-body .card-footer .cancel-btn{
    padding: 8px 15px;
    border: 1px solid #002347;
    border-radius: 4px;
    color: #002347;
    margin-right: 10px;
    cursor: pointer;
}

.modal-body .card-footer .submit-btn{
    padding: 8px 15px;
    border: 1px solid #002347;
    border-radius: 4px;
    color: #ffffff;
    background-color: #002347;
    cursor: pointer;
}

@media only screen and (max-width: 1023px){
    .form-create .form-body .input-container .regular-input{
        width: 100%;
    }
    
    .form-create .form-body .input-container .regular-textarea{
        width: 100%;
    }
    
    .form-create .form-body .input-container .regular-select{
        width: 100%;
    }

    .form-create .form-footer .cancel-btn{
        width: calc(50% - 5px);
        float: left;
        margin-right: 10px;
        text-align: center;
    }
    
    .form-create .form-footer .submit-btn{
        width: calc(50% - 5px);
        float: left;
        text-align: center;
    }
}

