.trainer_area.section_gap_top{
    background-color: #002347;
}

.white-text{
    color: #ffffff;
}

.login{
    padding: 27px 0;
    margin-right: 10px;
}

.login-btn{
    padding: 10px 15px;
    border: 1px solid #002347;
    background-color: #002347;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
    color: #fdc632;
}


.login-btn:hover{
    background-color: transparent;
}

.signup{
    padding: 27px 0;
}

.signup-btn{
    padding: 10px 15px;
    border: 1px solid #002347;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all;
    margin-right: 10px;
    color: #002347;
}


.signup-btn:hover{
    background-color: #002347;
    color: #fdc632;
}

.input-group{
    padding: 27px 0;
    margin-left: 20px;
}

.input-group .submit-btn{
    float: left;
    border: 1px solid #002347;
    cursor: pointer;
    background: #002347;
   
}

.input-group .submit-btn .fa-search{
    color: #fff;
}

.input-group .submit-btn .fa-search:hover{
    color: #002347;
} 

.input-group .submit-btn:hover {
    border: 1px solid #fff;
    background-color: #fff;

  }

 

  .input-group .search-box{
    padding: 5px 20px;
    color: #2e3d49;
    background: #fff;
    border: 1px solid #cccccc;
    font-size: 14px;
    
    display: block;
    
}